<h1><%= @tasks['title'] %></h1>

<h3><%= @tasks['details'] %></h3>

<% if @tasks['completed'] == false %>
    <h4>Not Completed</h4>
<% else %>
    <h4>Completed!</h4>
<% end %>





<ul>
<li><%= link_to "Edit", edit_task_path %></li>
<li><%= link_to "Delete", task_path(@tasks), method: :delete %></li>
<li><%= link_to "Back to list", tasks_path %></li>
</ul>
